# Ignore Python compiled files
__pycache__/

# Ignore virtual environment (if using venv)
venv/
.venv/

# Ignore logs and temp files
*.log
.DS_Store

# Ignore vscode files
/.vscode/

# Ignore Node Modules and Next JS files
node_modules/
.next/